<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Home Page</h1>
    <!-- The following line uses EJS syntax <%= ... %> to evaluate the JavaScript expression 1 * 2 and output the result -->
    <h3> <%= 1 * 2 %></h3>
    <!-- This line uses EJS to execute the JavaScript string method toUpperCase() on "hello world" and display the uppercase string -->
    <h3> <%= "hello world".toUpperCase() %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque neque cupiditate amet fugiat sint placeat dicta
        dignissimos quas molestiae ipsa repellendus excepturi earum, suscipit veritatis vitae quod, ab molestias
        dolores!</p>
    <button>click me!</button>
</body>

</html>